.logoType{
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  height: 90%;

  &__logo{
    text-shadow: 3px 3px black;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
  }
}