.dropZone {
  padding: 4px 2px;
  background: darkgrey;
  border-radius: 0.5rem;
  border: 3px solid darkgray;

  &__textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    width: 100%;
    height: 80px;
  }

  &__inDropZone {
    border: 1px dashed red;
  }

  &__listItem {
    margin-top: 6px;
  }
}