.leagueName {
  &__nameContainer {
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 4;
    cursor: pointer;
  }

  &__name{
    font-size: 26px;
    font-weight: 700;
    width: 97%;
    text-align: center;
  }

  &__icon{
    margin-right: 10px;
    font-size: 40px;
  }

  &__childWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}