.adminSideBarClose {
  width: 4px !important;

  &__chevronContainer {
    right: -10px !important;
  }
}


.adminSideBar {
  position: relative;
  width: 230px;

  &__chevronContainer {
    width: 28px;
    height: 80px;
    background-color: #343a40;
    right: -14px;
    top: 360px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    border-radius: 100%;
  }

  &__chevron {
    color: #484848;
    font-weight: bold;
    font-size: 20px;
  }

  &__wrapper {
    flex-flow: column !important;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-size: 30px !important;
  }

  &__container {
    padding-top: 20px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    background-color: #484848;
  }

  &__submenuWrapper {
    position: relative;
    display: inline-block;
  }

  &__submenu {
    display: none;
    top: 10px;
    margin-left: 122px;
    position: absolute;
    background-color: #a51313;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 20px;
    border-radius: 10px;
  }

  &__submenuWrapper:hover &__submenu {
    display: block;
  }
}
