.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #14151a;
  box-shadow: 10px -3px 5px black;

  &__wrapper{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
  }

  &__logotype{
    font-size: 24px;
  }
}