.alert {
  &__header {
    width: 100%;
    display: flex;
    justify-content: center !important;
  }

  &__headerTitle {
    text-align: center;
  }

  &__bodyText{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  &__bodyContainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__footer{
    display: flex;
    justify-content: center !important;
  }

  &__footerBtnContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}