.adminHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 10px 5px 5px black;

  &__wrapper{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
  }

  &__logotypeContainer {
    margin-left: 24px;
    background-color: transparent;
  }

  &__logotype {
    margin: 0 0 5px 0;
    font-size: 60px;
  }

  &__logOut{
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    margin-right: 30px;
    font-size: 30px !important;

    &:hover{
      color: #9C1A1C;
    }
  }
}