.timeTable{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  &__teamNames{
    display: flex;
  }

  &__name{
    color: #666666;
    font-weight: bold;
  }
}