.adminSeasonLeagueList {
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid black;

  &__seasonItem {
    border-radius: 4px;
    border: 1px solid black;

  }

  &__seasonItemHeader {
    background-color: #989898;
    padding: 20px 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__seasonItemBody {
    border-top: 1px solid darkgray;
  }

  &__leagueItem {
    width: 100%;
    border-top: 1px solid #ffebcd;
  }

  &__leagueBlock {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}