.authorization {
  border-radius: 8px;
  width: 800px;
  padding-bottom: 40px;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  &__headerBtn {
    background-color: transparent;
    padding: 0;
    height: 100%;
    font-size: 26px;
    margin: 3px 5px 0 0;
    color: #696969;
    border: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__signIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__userContainer {
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #535353;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid #6b6b6b;
    background-color: whitesmoke;
    box-shadow: black 2px 4px 5px;
  }

  &__userContainerIcon {
    color: #6b6b6b;
  }

  &__title {
    font-size: 36px !important;
    font-weight: 600 !important;
  }

  &__inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputWrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  &__inputLabel {
    color: #9b9b9b;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 0 2px;
    padding: 0;
  }

  &__input {
    color: white;
    outline: none;
    border: 1px solid #676161;
    width: 100%;
    height: 28px;
    border-radius: 4px;
    background-color: #b7b7b7;
    margin-top: 10px;
    margin-bottom: 20px;
    text-indent: 10px;
  }

  &__input span {
    margin-top: 2px;
    color: #919191;
  }

  &__sendBtn {
    cursor: pointer;
    margin-top: 26px;
  }
}