.adminSeason{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__wrapper {
    margin-top: 20px;
    border-radius: 4px;
  }

  &__seasonItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 280px;
    height: 100px;
  }

  &__seasonItemText{
    margin-left: 80px;
    font-weight: bold;
    font-size: 20px;
  }

  &__seasonItemIcon{
    font-size: 30px;
    color: #9C1A1C;
  }
}