.socialIcon {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 30px;


  &__icon {
    cursor: pointer;
    padding: 6px;
    color: white;
    font-size: 33px;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}