.teamTable{
  border: 1px solid whitesmoke;
  width: 50%;

  th{
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }

  span{
    margin-left: 6px;
  }

  td{
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }
}